@font-face {
  font-family: 'Caslon Antique';
  src: url('../../../../static/fonts/caslon/caslonantique-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Caslon Antique Bold';
  src: url('../../../../static/fonts/caslon/caslonantique-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Caslon Antique Bold Italic';
  src: url('../../../../static/fonts/caslon/caslonantique-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Caslon Antique Italic';
  src: url('../../../../static/fonts/caslon/caslonantique-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro';
  src: url('../../../../static/fonts/dinpro/DINPro.woff2') format('woff2'),
    url('../../../../static/fonts/dinpro/DINPro.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro Bold';
  src: url('../../../../static/fonts/dinpro/DINPro-Bold.woff2') format('woff2'),
    url('../../../../static/fonts/dinpro/DINPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro Light';
  src: url('../../../../static/fonts/dinpro/DINPro-Medium.woff2') format('woff2'),
    url('../../../../static/fonts/dinpro/DINPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro Medium';
  src: url('../../../../static/fonts/dinpro/DINPro-Medium.woff2') format('woff2'),
    url('../../../../static/fonts/dinpro/DINPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../../../../static/fonts/dinpro/DINPro-Cond.woff2') format('woff2'),
    url('../../../../static/fonts/dinpro/DINPro-Cond.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro Cond Bold';
  src: url('../../../../static/fonts/dinpro/DINPro-CondBold.woff2') format('woff2'),
    url('../../../../static/fonts/dinpro/DINPro-CondBold.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro Cond Light';
  src: url('../../../../static/fonts/dinpro/DINPro-CondLight.woff2') format('woff2'),
    url('../../../../static/fonts/dinpro/DINPro-CondLight.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro Cond Medium';
  src: url('../../../../static/fonts/dinpro/DINPro-CondMedium.woff2') format('woff2'),
    url('../../../../static/fonts/dinpro/DINPro-CondMedium.woff') format('woff');
}

body {
  font-family: Caslon Antique, sans-serif;
}
